    p { font-family: ; font-size: 0.6cm }
    h1  { font-family: ; font-size: }
    h2 { font-family: ; font-size: }
    h3 { font-family: ; font-size: }
    body { font-family: Arial; text-align: center; background-color: grey; color: white; text-align: center; }
    cur { font-family: Cursive; }
    a { color: white; font-size: 1.5rem;}
    bigtext { font-size: 2cm; }
    breaker { color: black; font-size: 0.001cm }
    #l { text-align: left; padding: 2cm; }
    #r { text-align: right; }
    #c { text-align: center; }
    button { background-color: black; border: solid; color: white; padding: 15px 32px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; margin: 4px 2px; cursor: pointer; border-radius: 12px; }
  button:hover { background-color: white; color: black; border-color: grey; transition-duration: 0.4s; }
  .bigbutton { background-color: black; border: solid; color: white; padding: 15px 32px; text-align: center; text-decoration: underline; display: inline-block; font-size: 25px; margin: 4px 2px; cursor: pointer; border-radius: 12px; }
