@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");
body {
  background-color: grey;
}

p {
  color: black;
  padding-top: 10px;
  padding-bottom: 10px;
}

a {
  color: black;
  text-decoration: underline !important;
}

button {
  background-color: grey;
  border-color: black;
  border-style: solid;
  border-radius: 5px;
}

footer {
  padding-left: 10px;
  padding-bottom: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
}

footer-right {
  padding-right: 10px;
  padding-bottom: 10px;
  position: absolute;
  bottom: 0;
  right: 0;
  color: white;
}

.main {
  padding: 50px;
}

.site-map {
  padding-top: 15px;
  padding-left: 10px;
}

.fira-code {
  font-family: "Fira Code", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

.staff-section {
  padding-left: 20px;
}

.staff-section p {
  padding-left: 20px;
}
